In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,84.25,70,88,5.75,CK,2022-05-05 22:12:56
1,1,Biak,-0.9131,122.8766,77.95,82,99,1.52,ID,2022-05-05 22:12:56
2,2,Nikolskoye,59.7035,30.7861,46.29,64,96,6.60,RU,2022-05-05 22:12:57
3,3,Rikitea,-23.1203,-134.9692,78.08,82,37,16.17,PF,2022-05-05 22:12:57
4,4,Kaitangata,-46.2817,169.8464,57.15,72,91,3.31,NZ,2022-05-05 22:12:58

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)                           

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=1.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=1600, point_radius=8
                                )

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=1600, point_radius=8
                                )

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(20)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,84.25,70,88,5.75,CK,2022-05-05 22:12:56
1,1,Biak,-0.9131,122.8766,77.95,82,99,1.52,ID,2022-05-05 22:12:56
3,3,Rikitea,-23.1203,-134.9692,78.08,82,37,16.17,PF,2022-05-05 22:12:57
6,6,Kutum,14.2000,24.6667,82.22,16,17,19.98,SD,2022-05-05 22:12:58
9,9,Port Alfred,-33.5906,26.8910,71.78,47,1,5.91,ZA,2022-05-05 22:13:00
11,11,Isangel,-19.5500,169.2667,79.74,72,3,10.27,VU,2022-05-05 22:13:00
12,12,Long Beach,33.7670,-118.1892,87.84,70,0,21.85,US,2022-05-05 22:13:01
15,15,Butaritari,3.0707,172.7902,82.33,69,72,17.87,KI,2022-05-05 22:13:02
17,17,Pauini,-7.7136,-66.9764,78.71,79,90,2.62,BR,2022-05-05 22:13:03
20,20,East London,-33.0153,27.9116,71.38,45,0,5.93,ZA,2022-05-05 22:13:05
22,22,Tabuk,17.4189,121.4443,74.23,85,47,2.86,PH,2022-05-05 22:13:06
27,27,Arraial Do Cabo,-22.9661,-42.0278,75.06,78,20,17.27,BR,2022-05-05 22:13:08
28,28,Metro,-5.1131,105.3067,74.68,93,82,3.98,ID,2022-05-05 22:13:08
30,30,Atuona,-9.8000,-139.0333,79.12,78,100,14.32,PF,2022-05-05 22:13:09
31,31,Gopalpur,19.2667,84.9167,79.74,79,97,4.85,IN,2022-05-05 22:13:10
37,37,Uchiza,-8.4592,-76.4633,74.64,98,74,0.87,PE,2022-05-05 22:13:12
39,39,Novita,4.9551,-76.6053,75.47,98,100,3.65,CO,2022-05-05 22:13:13
40,40,Magadi,12.9667,77.2333,71.46,83,95,3.56,IN,2022-05-05 22:13:13
42,42,Charcas,23.1333,-101.1167,86.47,14,4,12.03,MX,2022-05-05 22:13:15
44,44,Kapaa,22.0752,-159.3190,80.58,75,100,12.66,US,2022-05-05 22:13:16

In [11]:
preferred_cities_df.count()

City_ID       723
City          723
Lat           723
Lng           723
Max Temp      723
Humidity      723
Cloudiness    723
Wind Speed    723
Country       723
Date          723
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)
len(hotel_df)

723

In [13]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json JSON API CALL

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
5